*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


[class*="col-"]{
   min-height: 80px;
  /* debug  */
   /* border: 1px solid black;
  background-color: red;  */

}

.position-fixed{
  position:fixed;
  width: 100%;
  height:50px;
  top: 0;
  z-index: 900;


}

/* mediaquery  */

@media all and (min-width: 768px) and (max-width: 992px) {
    .navbar-collapse.collapse {
    display: none!important;
    }

    .navbar-header{
      width: 100%;
    }

    .navbar-toggle{
      display: block;
      margin-right: 0;
    }

}

@media all and (max-width: 992px){
  header>nav a{
    width: 20%;
  }
}

@media all and (min-width: 993px){
  .navbar-header{
    width: 20%;
  }
}

/* header  */
.navbar-default{
  background-color: white;
  border: 0;

}

/* color nav-bar */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background-color: white;
}

.logo{
  width: 150px;
  line-height: normal;
}

/* color e background-color words navbar */
.navbar-default .navbar-nav>li>a {
  color: black;
}

/* background e border Sign Up */
header .btn-default {
  color: #3285FF;
  background-color: #fff;
  border-color: #3285FF;
}

/* padding logo */
.navbar-brand {
  float: left;
  height: 50px;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 70px;
}

/* background-color navbar a 768px */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/* border navbar a 768px */
.navbar-default .navbar-toggle{
  border: 0;
}

/* color line navbar */
.navbar-default .navbar-toggle .icon-bar {
  background-color:  #3285FF;
}


/* Jumbotron */
.contenitore-jumbotron{
  min-height: 300px;
  margin-top:50px;     /* margine per non far sovrapporre header sul jumbotron */
  background-color:#004AFF;
  background-image: url(../img/jumbo.svg);
}

/* text-left-jumbotron */
.text-left-jumbotron{
  margin: 60px 0;

}

.text-left-jumbotron h1{
  font-size: 50px;
  margin-bottom: 30px;

}

.design>p, .design>h1{
  color: white;
  font-weight: bold;

}


/* text-right-jumbotron */
.text-right-jumbotron{
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  /* debug */
  min-height: 50px;
}

.text-right-jumbotron h1{
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;

}

.text-right-jumbotron h2{
  color: #006AFF;
  font-weight: bold;
}

.text-right-jumbotron p{
  margin:10px;
  padding-bottom: 10px;
}

.padding-button-jumbotron{
  padding: 0 30px;
}

.padding-button-jumbotron button img{
  width: 30px;
  /* display: inline-block;
  margin-right: 80px;
  margin-left: -120px; */
}

/* color scritta button "Sign up.."  */
 .btn-default {
  color: #CCCCCC;
  border-color: #CCCCCC;
}


/* INIZIO MAIN */

/* main-section1 */
.contenitore-main-section1{
  background-color: #F3F5F9;
}

.contenitore-main-section1 span{
  display: block;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #828CA4;
}

.contenitore-main-section1 span a{
  text-decoration: none;
  color: #1275FE;
}

.contenitore-main-section1 .row img{
  display: block;
  margin: 0 auto;
}


/* main section2 */

.text-title-section2{
  text-align: center;
  margin: 0 auto;

}

.text-title-section2 h2{
  color: #031C4E;
  font-weight: bold;
  margin-top: 80px;
}

.text-title-section2 p{
  color: #828CA4;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 40px;
}

.listato{
  margin-top: 30px;
}

.listato ul li {
  list-style: none;
  border-left: 1px solid #7C879F;

}

.listato ul li a{
  text-decoration: none;
  color: #7C879F;
  display: inline-block;
  margin: 10px 0 10px 10px;
  font-size: 19px;
}

/* text-under-section2 */
.cluster-compute img{
  display: block;
  padding-top: 50px;

}

.text-under-section2 h3{
  color:#031C4E;
  font-weight: bold;
}

.text-under-section2 p{
  font-weight: bold;
  color: #828CA4;

}


/* section3 */

.contenitore-section3{
  background-color: #F3F5F9;
}

.text-title-section3 h1,p{
  font-weight: bold;
  text-align: center;

}

.text-title-section3 h1{
  color: #031C4E;
  margin-top: 80px;
  margin-bottom: 30px;
}

.text-title-section3 p{
  color: #828CA4;
  font-size: 20px;
  margin-bottom: 60px;

}


/* immagine che scorre */

.img-undertitle-section3 img{
  display: block;
  margin: 0 auto;
  width: 75%;
}

.carousel-indicators li {
  background-color: #006AFF;
  border: 1px solid  #006AFF;
}

/* freccia per scorrimento sinistro */
.glyphicon-chevron-left:before {
  content: "\e079";
  color: #6F7B97;
}

/* freccia per scorrimento destro */
.glyphicon-chevron-right:before {
  content: "\e080";
  color: #6F7B97;

}

/* margine pallini scorrimento */
.contenitore-section3 .img-undertitle-section3 ol {
  /* margin-top: 0; */
  margin-bottom: -105px;

}

.contenitore-section3 h3{
  text-align: center;
  color: #031C4E;
  font-weight: bold;

}

/*  main section4 */
.text-title-mainsection4 h1{
  text-align: center;
  color: #031C4E;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;

}

.text-title-mainsection4 h3,p,a{
  text-align: left;



}

.text-title-mainsection4 h3{
  color: #031C4E;
  font-weight: bold;

}


.text-title-mainsection4 p{
  color: #828CA4;
  font-size: 15px;

}

.text-title-mainsection4 a{
  display: block;
  text-decoration: none;
  margin-bottom: 40px;
}
